
.register-form {
  background-color: beige;
  padding: 20px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.register-form h3 {
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
}

.register-form input{
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.register-form input[type=submit] {
  display: inline-block;
  text-align: center;
  background-color:coral;
  color:bisque;
  cursor: pointer;
}
